.button {
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
background-color: black;
border: none;
color: white;
padding: 15px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.container {
  margin: 5px auto;
  width: 500px;
  padding: 0px 20px 20px 10px;
  border: 2px solid black;
}
th {
  text-align: left;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 1em;
  font-family: "Lato", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  background: #f8f8f8;
  background-size: cover;
  color: #333;
  font-size: 1.2em;
}

a {
  color: #E24329;
}

header {
  padding: 16px 20px;
  background-color: #74B1B4;
  color: #fff;
}

header a {
  text-decoration: none;
  color: #fff;
}

.index a {
  color: #333;
}

.index li {
  line-height: 1.5em;
}

h1,
h2,
h3 {
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

h1,
h3,
.query {
  color: #FC6D26;
}

h2 {
  color: #E24329;
}

.game {
  margin: 2em 0;
  overflow: auto;
  width: 100%
}

.game .col {
  float: left;
  margin-right: 2em;
}

.game .col:first-of-type {
  min-width: 200px;
}

#tictactoe {
  margin: 1em auto;
  padding: 20px;
  /*background: transparent url(http://pubnub.github.io/api-guide-with-tictactoe/images/tictactoe-bkgd.png) 0 0 no-repeat;*/
  width: 200px;
}

#tictactoe.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#whosTurn {
  color: #E24329;
}

#pubsub span {
  color: #E24329;
}
